<h1>Usuários</h1>

<table *ngIf="responseUsers">
    <thead>
        <td>ID</td>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Email</td>
        <td></td>
    </thead>
    <tbody>
        <tr *ngFor="let user of responseUsers.data">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
                <a [routerLink]="['/users/update/', user.id]" routerLinkActive="router-link-active"> Editar </a> |
                <a [routerLink]="['/users/delete/', user.id]" routerLinkActive="router-link-active"> Remover </a>
            </td>
        </tr>
    </tbody>
</table>